.IntroductionSection {
    display: grid;
    grid-template-columns: 20rem 20rem;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 4rem;
    margin: 2rem;
    color: var(--color-text);
    font-family: "Roboto", sans-serif;
}

.ContentSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Title {
    font-size: 3rem;
}

.Description {
    font-size: 1.5rem;
    font-weight: 300;
}

.Button {
    border-radius: 2rem;
    border-style:none;
    padding: 0.8rem;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 50%;
}

.ProfileImg {
    border-radius: 100%;
}