.HomeBody {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}