.HomeBody {
    background: linear-gradient(to bottom right, var(--color-bg), var(--color-primary));
    width: 100%;
    height: 100%;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}