.Card {
  background: linear-gradient(to bottom left, var(--color-primary), var(--color-bg));
  border-radius: 0.5rem;
  max-width: 22rem;
  padding: 1rem;
  margin: 3rem;
  font-family: "Outfit", sans-serif;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Image {
  max-width: 20rem;
}

.Title {
  font-size: 1.5rem;
  font-weight: 600;
}

.Description {
  font-size: 1.3rem;
}

.TechList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.ListItem {
  background-color: var(--color-dark);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-weight: 300;
  font-size: 1.2rem;
}

.Buttons {
  display: flex;
  justify-content: space-evenly;
}

.Button {
  border-style: none;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  background-color: var(--color-secondary);
  color: var(--color-text);
  font-weight: 700;
  font-size: 1.5rem;
}
