.Navbar {
    color: var(--color-text);
    padding: 4rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.Title {
    font-weight: 500;
    font-size: 1.6rem;
}

.NavbarItems {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 1.2rem;
}

.NavbarItems a {
    text-decoration: none;
    color: var(--color-text);
}


