.Footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Outfit', sans-serif;
    color: var(--color-text);
    background-color: var(--color-secondary);
    padding: 2rem;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    font-size: 5rem;
}

.Text {
    font-size: 2.5rem;
    font-weight: 200;
}

.LinkList {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.ListItem {
    display: flex;
    gap: 1rem;
}

.ItemLink {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.ItemIcon {
    background-color: var(--color-primary);
    border-radius: 100%;
    padding: 0.5rem;
    width: 5rem;
    height: 5rem;
}

.ItemIcon:hover {
    background: linear-gradient(to bottom left, var(--color-primary), rgb(169, 219, 239));
}

.Link {
    font-size: 1.5rem;
}