.ExperienceSection {
  background-color: var(--color-dark);
  max-width: 100%;
  color: var(--color-text);
  font-family: "Outfit", sans-serif;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1.5rem;
}

.ExperienceContent {
  display: grid;
  grid-template-columns: 25rem 25rem;
  align-items: center;
  gap: 3rem;
}

.Title {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.ListSkills {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.SkillsItem {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.SkillsIcon {
  background-color: var(--color-primary);
  border-radius: 100%;
  width: 5rem;
}

.ExperiencesTitle {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0.5rem 0;
}

.ExperiencesItem {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.ExperiencesTopics {
    list-style: inside;
}

.ExperiencesPeriod {
    font-weight: 200;
}

.ExperiencesIcon {
    width: 3rem;
    background-color: var(--color-primary);
    border-radius: 0.5rem;
}
